@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#0b0b10, #1a1a2e);
    color: #ba0caf;
    font-family: sans-serif;
}

a {
    color: #b7a077;
}

a:hover {
    color: #988564;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    display: block;
}

.title {
    font-size: clamp(28px, 8vw, 80px);
}

header p {
    font-size: clamp(18px, 4vw, 44px);
    font-family: "Ma Shan Zheng", cursive;
}

header {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 5px 0 10px;
}

#global_navi {
    width: 100%;
    max-width: 980px;
    margin: 16px auto;
}

#global_navi ul {
    list-style: none;
    display: flex;
    padding: 0;
}

#global_navi ul li {
    flex: 1;
    text-align: center;
}

#global_navi ul li a {
    display: block;
    padding: 16px;
    background-color: #352b23;
    color: #fff;
    text-decoration: none;
}

#global_navi ul li.current a {
    background-color: #b7a077;
}

#main_visual {
    width: 100%;
    max-width: 980px;
    margin: 16px auto;
}

#main_visual img {
    width: 100%;
    height: auto;
}

#wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
}

#main h2 {
    font-size: 22px;
    border: 1px solid #b7a077;
    padding: 11px 22px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* 手机适配 */
@media (max-width: 768px) {

    .title {
        font-size: 32px;
    }

    header p {
        font-size: 20px;
    }

    #global_navi ul {
        flex-direction: column;
    }

    #global_navi ul li {
        margin-bottom: 5px;
    }

    #main h2 {
        font-size: 18px;
        padding: 10px;
    }

    body {
        overflow-x: hidden;
    }
}