@charset "UTF-8";
body {
  margin: 0;
  font-family: "Yu Mincho", serif;
  background: linear-gradient(#0b0b10, #1a1a2e);
  color: #fff;
}
header {
  text-align: center;
  padding: 40px 20px;
}
header img {
  width: 250px;
  border-radius: 10px;
}
.TUJIAN {
  width: 980px;        
  margin: 10px;
}
.ZHANSHI {
  width: 980px;        
  margin: 10px;
}